<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2>Lag nytt innlegg</h2>
        <form method="post">
            <label for="title">Tittel:</label><br>
            <input type="text" id="title" name="title"><br><br>
            <label for="content">Innhold:</label><br>
            <textarea id="content" name="content" rows="5" cols="40"></textarea><br><br>
            <input type="submit" value="Publiser">
        </form>
    </div>
</body>

</html>