{% extends "base.html" %}

{% block content %}

<div class="themes-page">

    <div class="themes-header">
        <h1>{{ theme.name }}</h1>
    </div>

    <div class="posts-grid">

        {% for post in posts %}
        <div class="post-card">

        <a href="javascript:void(0)" class="post-title" onclick="openPost(
           '{{ post.content|escape }}',
           '{{ post.username|escape }}',
           '{{ post.created_at }}',
           {{ post.id }}
       )">

                {{ post.content }}

            </a>

            <div class="post-footer">

                <span class="post-author">
                    {{ post.username }}
                </span>

                <span class="post-date">
                    {{ post.created_at }}
                </span>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}